<div class="container-fluid">
  <br>
  <div class="col-md-6">
    <label  for="inlineFormSelectPref" placeholder="Enter Software Name" class="form-label required-field">Software Name </label>
    <select class="form-select col-6 mx-auto" id="inlineFormSelectPref" >
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  
  <br>

  <div class="checkbox-container">
    <input type="checkbox" id="toggleAccordion" [(ngModel)]="isFormOpen">
    <label for="toggleAccordion" class="toggle-label">Add New Software</label>
  </div>

  <div *ngIf="isFormOpen" class="col-md-6 software-form-container">
      <h6>Add New Software</h6>
        <form>
          <div>
              <label for="name" class="form-label required-field">Software Name</label>
              <input type="text" class="form-control" placeholder="Enter Software Name">
          </div>

          <br>

          <div class="mb-6">
              <label for="thumbnail" class="form-label">Software Thumbnail</label>
              <div class="row">

                  <div class="picture">
                      <img src="../assets/add_photo_alternate_outlined 1.svg" class="thumbnail-image"
                          alt="Software thumbnail">
                  </div>

                  <div class="thumbnail-text">
                      <p>Size: 36*36 Pixels</p>
                      <p>File Support: jpg, .jpeg, .png</p>
                      <button type="submit" class="thumbnail-submit-button">
                          <img src="../assets/upload.svg" class="upload-icon" alt="upload icon">Upload Image
                      </button>
                  </div>

              </div>

          </div>

          <br>

          <div>
              <label for="type" class="form-label required-field">Software Type</label>
              <div class="software-checkbox-container">
                  <input type="radio" id="Perpetual" name="softwareType">
                  <label for="Perpetual">Perpetual</label>

                  <input type="radio" id="Validity" name="softwareType">
                  <label for="Validity">Validity</label>

                  <input type="radio" id="Subscription" name="softwareType">
                  <label for="Subscription">Subscription</label>
              </div>
          </div>
          <br>
          <button type="submit" class="software-form-add-button">Add</button>
        </form>
      <br>
  </div>

  <br>
  
  <div class="alert" role="alert" [style.display]="isFormOpen ? 'none' : 'block'" >
    <img src="../assets/Vector.svg" class="alert-icon" alt="alert icon">This software type is perpetual
  </div>

  <div class="col-md-6">
    <label for="inputEmail4" class="form-label required-field">Software Version</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter software version">
  </div>
  
  <br>

	<div class="row">
    <div class="col-md-4">
      <label for="date" class="form-label required-field">Date of purchase</label>
      <div class="input-group date" id="datepicker">
        <input type="date" class="form-control" id="date" placeholder="12-15-2023"/>
      </div>
		</div>

    <div class="col-md-2">
      <label for="date" class="form-label">Date</label>
      <div class="input-group date" id="datepicker">
        <input type="text" class="form-control" id="date"/>
          <span class="input-group-append">
            <span class="input-group-text bg-light d-block">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
      </div>
		</div>

  </div>

  <br>

  <div class="col-md-6">
    <label class="form-label">Activation Key</label>
    
      <div class="input-group">
        <input [type] = " showPassword ? 'text': 'password' " class = "form-control" placeholder="Enter Activation Key">
        <div class="input-group-append">
         
            <div class="toggle_hide_password">
              <img src="../assets/Eye.svg" class="eye-icon" alt="eye icon" (click)="togglePassword()" *ngIf="!showPassword">
              <i (click)="togglePassword()" class="fa-solid fa-eye-slash" *ngIf="showPassword"></i>
            </div>
        
          </div>
      </div>
  </div>

</div>
